<!DOCTYPE html>
<html>

<head>
  <title>Student App</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <h1>Student App</h1>
  <div>
    <form>
      <button><a href="/add"> Add Student</a> </button>
      <br><br><br>
      <br><br><br>
      <table id="main">
        <tr id="heading">
          <th>First Name</th>
          <th>Last Name</th>
          <th>Gender</th>
        </tr>
        <% for(var i=0; i < students.length; i++) { %>
        <tr>
          <td><%= students[i].first_name %></td>
          <td><%= students[i].last_name %></td>
          <td><%= students[i].gender%></td>
          <td>
            <a href='/student/<%= students[i]._id %>'>Update Student</a>
          </td>
          <td>
            <a href='/delete/<%= students[i]._id %>'>delete Student</a>
          </td>
        </tr>
        <% } %>

      </table>
      </table>
  </div>

</body>

</html>